* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: var(--CorHeader);

    display: flex;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;

}

header h1 {
    color: white;
    font-family: var(--fontBaloo);
    flex-grow: 1;
    padding: 20px 20px;

}

.div-status {
    flex-basis: 50px;
    display: flex;
    border-bottom: 1px solid gray;
    padding: 5px 10px;
    gap: 10px;
    background-color: var(--CorHeader);
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.div-status img {
    max-width: 60px;
    min-height: 60px;
    border-radius: 50%;
}

.div-foto {}

.div-status-usuario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.div-logout {
    flex-basis: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.div-logout a {
    background-color: white;
    padding: 5px 30px;
    border-radius: 10px;
    font-family: var(--fontInter);
    cursor: pointer;

}

main {

    flex-grow: 1;
    display: flex;
}

.mostrar-lista {

    flex-basis: 40px;
    display: flex;
    justify-content: center;

}

.div-mostrar {
    background-color: var(--CorHeader);
    width: 200px;
    font-family: var(--fontBaloo);
    font-size: 1.3em;
    color: white;
    cursor: pointer;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div-online {

    flex-basis: 250px;
    display: none;
    flex-direction: column;
    min-width: 250px;
    background-color: var(--CorHeader);
    margin-left: 5px;
    margin-bottom: 5px;


}
.div-lista-usuarios {
    background-color: white;
    overflow: auto;


}

.div-sala {
    
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    border-left: 1px solid gray;
    background-color: white
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.div-chat {
    flex-grow: 1;
    background-image: url(../imagens/fundo.gif);
    background-repeat: no-repeat;
    background-size: cover;

}

.div-banner-chat {
    flex-basis: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-banner-chat h2{
    color: white;
    font-family: var(--fontBaloo);
}

.div-emoji {
    height: 200px;
    background-color: white;
    display: flex;
    overflow: auto;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;
    border-top: 1px solid gray;
    display: none;
}

.div-emoji img {

    cursor: pointer;
    flex-basis: 50px;
    height: 50px;
    width: 50px;

}

.mostrar-emoji {
    display: flex;

}



.div-msg {
    flex-basis: 60px;
    display: flex;
    border-top: 1px solid gray;
}

.div-text-msg {
    background-color: white;
    flex-grow: 1;
    display: flex;
  
   
}

.div-text-msg #txt-msg {
    flex-grow: 1;
    padding: 10px;
    font-size: 1.4em;
    outline: none;
    border: none;
   
}

.div-ico {
    background-color: white;
    flex-basis: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.div-ico img {
    max-width: 30px;
    cursor: pointer;
}

.div-btn {
    background-color: white;
    flex-basis: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div-btn a {
    text-decoration: none;
    background-color: var(--CorHeader);
    color: white;
    padding: 10px;
    border-radius: 10px;
}

.div-pesquisa-usuario {
    display: flex;

}

.div-input {
    display: flex;

}

.div-input input {
    padding-left: 10px;
    line-height: 25px;
    width: 175px;


}

.div-ico-pesquisa {
    padding: 10px
}

.div-ico-pesquisa a {
    color: white;


}

.div-card-usuario {
    display: flex;
    border-bottom: 1px solid gray;
    height: 70px;
}

.div-foto-usuario {
    flex-grow: 1;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.div-status-card {
    flex-basis: 90px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.div-status-card>h2 {
    font-size: 1em;

}

.div-status-card>h3 {
    font-size: 1em;
}

.div-btn-usuario {
    flex-basis: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-btn-usuario>a {
    background-color: var(--CorHeader);
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    font-weight: bold;
}

.div-foto-usuario>img {
    width: 100%;
    border-radius: 50%;
    height: 60px;
    max-width: 60px;
}

.div-online-mob{
    display: flex;
}
.btn-mostrar-listausuario{
    display: none;
}






@media screen and (min-width: 1024px) {
    .div-online {
        display: flex;
        transition: all 10s;
        flex-direction: column;
        overflow: hidden;
    }

   

    .div-mostrar{
        display: none;
    }

    .div-lista-usuarios {
        background-color: white;
        overflow: auto;


    }

    .div-banner-chat {
        flex-basis: 65px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .div-banner-chat h2{
        color: white;
        font-family: var(--fontBaloo);
    }

    .div-card-usuario {
        display: flex;
        border-bottom: 1px solid gray;
        height: 70px;
    }

    .div-foto-usuario {
        flex-grow: 1;
        display: flex;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
    }

    .div-status-card {
        flex-basis: 90px;

        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .div-status-card>h2 {
        font-size: 1em;

    }

    .div-status-card>h3 {
        font-size: 1em;
    }

    .div-btn-usuario {
        flex-basis: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .div-btn-usuario>a {
        background-color: var(--CorHeader);
        color: white;
        padding: 5px 10px;
        border-radius: 20px;
        font-weight: bold;
    }

    .div-foto-usuario>img {
        width: 100%;
        border-radius: 50%;
        height: 60px;
        max-width: 60px;
    }
}