.div-menu-usuario{
    background-color: var(--CorHeader);
    height: 87px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.div-menu-usuario .div-usuario-img{
    background-color: white;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-left: 20px;
    
    
}

.div-status-usuario{
    display: flex;
    flex-direction: column;
    align-items: center;
    

}

#usurio{
  color: white;
  font-size: 24px;
  font-family: var(--fontInter);
}

#status-usurio{
    color: white;
    font-size: 24px
  }

  #card-usurio{
    color: black;
    font-size: 24px;
    font-family: var(--fontInter);
    
   
  }
  
  #card-status-usurio{
      color: var(--CorHeader);
      font-size: 24px
    }  
.div-contaner-chat{
    display: flex;
    width: 100vw;
    height: 100vh;
}

.div-usuario-online{
    border: 1px solid black;
    width: 20%;
    display: flex;
    flex-direction: column;
    background-color: white;
    overflow: hidden;
    

}
.div-sala-batepapo{
    width: 80%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
  
}

.div-panel-envio{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 102px;
    /* background-color: var(--CorHeader); */
    display: flex;
    align-items: center;
    gap: 15px;
    border: 1px solid gray;
    overflow: hidden;
}
#btn-envia{
    width: 150px;
    height: 50px;
    font-family: var(--fontInter);
    font-size: 24px;
    border-radius: 10px;
    color: white;
    background-color: var(--CorHeader);
    font-family: var(--fontInter);
    border: 1px solid #f3f2f0;
    cursor: pointer;
}
.icones-envio{
    width: 36px;
    height: 36px;
    cursor: pointer;
}

.div-panel-envio textarea{
    width: 64%;
    height: 100px;
    line-height: 25px;
    font-size: 1.5em;
    padding: 20px;
    font-family: var(--fontInter);
    outline: none;
    border: none;
    
}

.div-panel-envio textarea::-webkit-scrollbar{
    width: 7px;
    background-color: var(--CorHeader);
    border-radius: 20px;
}

#form-pesquisa-usuario{
    width: 100%;
}

.div-usuario-online input{
    width: 100%;
    line-height: 53px;
    font-size: 2em;
    padding-left: 10px;
}

.card-usuario-online{
    width: 100%;
    height: 100px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    position: relative;
    gap: 10px;
}

.card-usuario-online:hover{
    color: white;
    background-color: var(--CorHeader);
    cursor: pointer;
    opacity: 0.6;
}

.card-usuario-online .div-usuario-img{
    background-color: white;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-left: 20px; 
    border: 1px solid black;
}

.card-usuario-online #status-horas{
    position: absolute;
    color: var(--CorHeader);
    right: 15px;
    top: 20px;
    font-weight: bold;
}
