@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Baloo');
:root{
    --CorHeader: #01a58d;
    --fontBaloo: 'Baloo', sans-serif;
    --fontInter: 'Montserrat', sans-serif;
    --CorFooter:#01a58d; 
    --CorBotoes: gray;
    --CorCards: rgb(211, 198, 198);;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    
}
a{
    text-decoration: none;
    font-family: var(--fontInter);
}

body,html{
    width: 100%;
    min-height: 100vh;
    
   
}

body::-webkit-scrollbar{
    display: none;
}


